openapi: 3.1.0
info:
  title: Mintlify AI Toolkit API
  description: |
    Complete AI toolkit for documentation workflows. Scrape documentation 10-100x faster,
    generate MCP servers, create vector search indexes, export chatbot training data,
    and publish Mintlify sites - all via simple API calls or CLI.
  version: 1.5.0
  contact:
    name: Mintlify AI Toolkit
    url: https://github.com/nirholas/mintlify-ai-toolkit
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.mintlify-ai-toolkit.dev/v1
    description: Production API
  - url: http://localhost:3000/v1
    description: Local development

paths:
  /scrape:
    post:
      operationId: scrapeDocs
      summary: Scrape documentation from any Mintlify site
      description: |
        Scrape complete documentation from any Mintlify site. Uses Trieve API for 10-100x
        speed improvement. Returns structured markdown with perfect code preservation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  description: URL of the Mintlify documentation site
                  example: https://docs.privy.io
                output:
                  type: string
                  description: Output directory path
                  example: ./output
                useTrieveAPI:
                  type: boolean
                  description: Use Trieve API for faster scraping
                  default: true
      responses:
        '200':
          description: Documentation scraped successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  pages:
                    type: integer
                    example: 247
                  output:
                    type: string
                    example: ./output
                  files:
                    type: array
                    items:
                      type: string

  /generate-mcp:
    post:
      operationId: generateMCPServer
      summary: Generate MCP server from documentation
      description: |
        Convert scraped documentation into a complete Model Context Protocol (MCP) server
        ready for Claude Desktop integration. Auto-generates tools, handlers, and types.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - docsDir
              properties:
                docsDir:
                  type: string
                  description: Directory containing scraped documentation
                  example: ./output
                serverName:
                  type: string
                  description: Name for the MCP server
                  example: privy-mcp-server
      responses:
        '200':
          description: MCP server generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  serverPath:
                    type: string
                    example: ./privy-mcp-server
                  tools:
                    type: integer
                    example: 15

  /vector-search/create:
    post:
      operationId: createVectorIndex
      summary: Create vector search index
      description: |
        Generate semantic search index from documentation. Supports OpenAI embeddings
        or local sentence-transformers. Enables finding content by meaning, not keywords.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - docsDir
              properties:
                docsDir:
                  type: string
                  description: Directory with markdown documentation
                  example: ./output
                provider:
                  type: string
                  enum: [openai, local, cohere]
                  description: Embedding provider
                  default: openai
                apiKey:
                  type: string
                  description: API key for embedding provider
                  example: sk-...
      responses:
        '200':
          description: Vector index created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  chunks:
                    type: integer
                    example: 1247
                  indexPath:
                    type: string
                    example: ./vector-search-index.json

  /vector-search/query:
    post:
      operationId: searchDocs
      summary: Search documentation semantically
      description: |
        Perform semantic search across indexed documentation. Finds content by meaning,
        not just keyword matching. Supports hybrid search (semantic + keywords).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Search query
                  example: How do I authenticate users?
                limit:
                  type: integer
                  description: Maximum results to return
                  default: 10
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        url:
                          type: string
                        snippet:
                          type: string
                        score:
                          type: number
                          format: float

  /chatbot/export:
    post:
      operationId: exportChatbotData
      summary: Export chatbot training data
      description: |
        Generate Q&A pairs from documentation for fine-tuning chatbots. Supports
        OpenAI JSONL, LLaMA, Claude, JSON, and CSV formats. Can auto-generate Q&A
        using AI or extract existing FAQs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - docsDir
                - format
              properties:
                docsDir:
                  type: string
                  description: Directory with markdown documentation
                  example: ./output
                format:
                  type: string
                  enum: [openai-jsonl, llama, claude, generic-json, csv]
                  description: Output format
                  example: openai-jsonl
                generateQA:
                  type: boolean
                  description: Use AI to generate Q&A pairs
                  default: false
                apiKey:
                  type: string
                  description: API key for Q&A generation
                  example: sk-...
      responses:
        '200':
          description: Training data exported successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  qaPairs:
                    type: integer
                    example: 3247
                  outputPath:
                    type: string
                    example: ./chatbot-data-train.jsonl

  /publish-mintlify:
    post:
      operationId: publishMintlify
      summary: Publish Mintlify documentation site
      description: |
        Convert scraped documentation into a complete Mintlify site with all components,
        analytics, feedback, and API playground. Ready to deploy to Mintlify, Vercel, or Netlify.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - docsDir
              properties:
                docsDir:
                  type: string
                  description: Directory with scraped documentation
                  example: ./output
                name:
                  type: string
                  description: Site name
                  example: Acme API Docs
                description:
                  type: string
                  description: Site description
                color:
                  type: string
                  description: Primary brand color
                  example: "#6366F1"
                domain:
                  type: string
                  format: uri
                  description: Custom domain
                  example: https://docs.acme.com
                enableFeedback:
                  type: boolean
                  default: false
                enableAPIPlayground:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Mintlify site published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  sitePath:
                    type: string
                    example: ./mintlify-site

components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
